{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/favicon.png" />
			</div>
			<div class="hero">				
				<h3>Ayo berkontribusi aktif untuk kemajuan open source di Indonesia</h3>
			</div>

		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> Einfach zu installieren
				</h1>
				<p class="large">
					Starte einfach <a target="_blank" href="https://gogs.io/docs/installation/install_from_binary.html">die Anwendung</a> für deine Plattform. Gogs gibt es auch für <a target="_blank" href="https://github.com/gogits/gogs/tree/master/docker">Docker</a>, <a target="_blank" href="https://github.com/geerlingguy/ansible-vagrant-examples/tree/master/gogs">Vagrant</a> oder als <a target="_blank" href="https://gogs.io/docs/installation/install_from_packages.html">Installationspaket</a>.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> Plattformübergreifend
				</h1>
				<p class="large">
					Gogs läuft überall. <a target="_blank" href="http://golang.org/">Go</a> kompiliert für: Windows, Mac OS X, Linux, ARM, etc. Wähle dasjenige System, was dir am meisten gefällt!
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> Leichtgewicht
				</h1>
				<p class="large">
					Gogs hat minimale Systemanforderungen und kann selbst auf einem günstigen und stromsparenden Raspberry Pi betrieben werden.
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Quelloffen
				</h1>
				<p class="large">
					Der komplette Code befindet sich auf <a target="_blank" href="https://github.com/gogits/gogs/">GitHub</a>! Unterstütze uns bei der Verbesserung dieses Projekts. Trau dich!
				</p>
			</div>
		</div>
	
</div>
{{template "base/footer" .}}
