{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/favicon.png" />
			</div>
			<div class="hero">				
				<h3>Ayo berkontribusi aktif untuk kemajuan open source di Indonesia</h3>
			</div>

		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-megaphone"></i>Stand up what you believe in</h1>
				<p class="large">Sampai kapan kita hanya menjadi pemakai, Kita harus mulai menjadi kreator project open source yang akan berguna bagi bangsa
					</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-globe"></i>Go Worldwide</h1>
				<p class="large">Dengan saling berkontribusi kita bisa mendunia</p>
			</div>
		</div>
	
</div>
{{template "base/footer" .}}
